@media (min-width: 1200px) {
    html {
        font-size: 118.75%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    html {
        font-size: 81.25%;
    }
}

@media (max-width: 767px) {
    html {
        font-size: 81.25%;
    }
    
    #home_content {
    text-align:center;
    position:fixed;
    top: 2em;
    left: 0;
    margin: 0;
    height:auto;
    width:auto;
    }
    
    #features_1, #features_2 {
    text-align:center;
    }
    

    .feature_icon {
    float:none;
    width:3rem;
    height:3rem;
    margin-bottom: 1rem;
    margin-right:0;
    }

    
    #about {
    margin-bottom:4.568em;
    }
    
    p {
        font-size: 1.5rem;
    }
    h4 {
        font-size: 1.5rem;
    }
    #features_3 {
        height:auto;
    }
    #features_3_content_left {
        text-align:center;
        padding-bottom:6.5rem;
        padding-right:1rem;
    }

    #features_3_content_right {
        text-align:center;
        padding-left:1rem;

    }

    #features_3_content_center img{
        text-align:center;
        margin-left:auto;
        margin-right:auto;
    }

}

@media (max-width: 480px) {
    html {
        font-size: 62.5%;
    }
    p {
        font-size: .9rem;
    }

    #logo {
        margin: 50% auto 50% auto;
        display: block;
        width: 90%;
    }

    .copyright {
        margin: 10rem 0 0 0;
    }

    #copyright-text {
        margin: 0;
    }

    #slogan {
        margin: 2% 0 0 0;
    }

    #slogan h3 {
        font-size: 2.3rem;
        margin: 10% 0 10% 0;
    }

    h1 {font-size:3rem;}
    #logo_header {margin-bottom:2em }

    #counter_box {
        margin-bottom:2em;
    }

}