/*######################################*/
/*Colors for the template */
/*######################################*/

body {
    background-color:#00abd2;
}

#home, #footer {
    background-color:#00abd2;
}

.cta1 {
    background-color:#00abd2;
}


h3 {
    color:black;
}

h4 {
    color:#a7cb00;
}

.feature_icon {
    fill:#d8d8d8;
}

.arrow_up,
.arrow_down {
    fill:#f0f0f0;
}

.arrow_down:hover,
.arrow_up:hover {
    fill:#dddddd;
}

#features_3, .arrows_box_bg {
    background-color:#f7f8fa;
}

.owl-theme .owl-controls .owl-page span{
	background-color: #d8d8d8;
}


